section{
    margin-top: 100px;
}

div{
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
}
div:nth-of-type(2n){
    background-color: #f7db6a;
}

div:nth-of-type(3n){
    background-color: #ebb02d;
}
#One{
    transform: rotate(45deg);
}
#Two{
    /* we can use "scalex" for only choose x direction */
    transform: scale(0.5,2);
}

#Three{
    transform: translateX(-100px);
}
#Four{
    transform: skew(30deg);
}
#Five{
    transform: rotate(30deg) translateX(150px);
}