div{
    background-color: pink;
}

form{
    background-color: bisque;
}

input{
    background-color: inherit;
}

button{
    background-color: inherit;
}

button:hover{
    background-color: red;
}